.footer__column-links {
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    margin: 0;
    color: white;
  }

  .footer__column-links:hover {
    opacity: 0.6;
    transition: opacity .2s;
  }
  